@import "tailwindcss";
/* @import "tw-animate-css"; */

@custom-variant dark (&:is(.dark *));

:root,
.light {
  --bg: oklch(1 0 0);
  --fg: oklch(0.145 0 0);
  --card-bg: oklch(1 0 0);
  --card-fg: oklch(0.145 0 0);
  --popover-bg: oklch(1 0 0);
  --popover-fg: oklch(0.145 0 0);
  --primary-bg: oklch(0.205 0 0);
  --primary-fg: oklch(0.985 0 0);
  --secondary-bg: oklch(0.97 0 0);
  --secondary-fg: oklch(0.205 0 0);
  --muted: -bg oklch(0.97 0 0);
  --muted-fg: oklch(0.556 0 0);
  --accent-bg: oklch(0.97 0 0);
  --accent-fg: oklch(0.205 0 0);
  --destructive-bg: oklch(0.577 0.245 27.325);
  --destructive-fg: oklch(0.577 0.245 27.325);

  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);

  --radius: 0.625rem;
}

.dark {
  --bg: oklch(0.145 0 0);
  --fg: oklch(0.985 0 0);
  --card-bg: oklch(0.145 0 0);
  --card-fg: oklch(0.985 0 0);
  --popover-bg: oklch(0.145 0 0);
  --popover-fg: oklch(0.985 0 0);
  --primary-bg: oklch(0.985 0 0);
  --primary-fg: oklch(0.205 0 0);
  --secondary-bg: oklch(0.269 0 0);
  --secondary-fg: oklch(0.985 0 0);
  --muted-bg: oklch(0.269 0 0);
  --muted-fg: oklch(0.708 0 0);
  --accent-bg: oklch(0.269 0 0);
  --accent-fg: oklch(0.985 0 0);
  --destructive-bg: oklch(0.396 0.141 25.723);
  --destructive-fg: oklch(0.637 0.237 25.331);

  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
}

@theme inline {
  --color-bg: var(--bg);
  --color-fg: var(--fg);
  --color-card-bg: var(--card-bg);
  --color-card-fg: var(--card-fg);
  --color-popover-bg: var(--popover-bg);
  --color-popover-fg: var(--popover-fg);
  --color-primary-bg: var(--primary-bg);
  --color-primary-fg: var(--primary-fg);
  --color-secondary-bg: var(--secondary-bg);
  --color-secondary-fg: var(--secondary-fg);
  --color-muted-bg: var(--muted-bg);
  --color-muted-fg: var(--muted-fg);
  --color-accent-bg: var(--accent-bg);
  --color-accent-fg: var(--accent-fg);
  --color-destructive-bg: var(--destructive-bg);
  --color-destructive-fg: var(--destructive-fg);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-bg text-fg;
  }
}
