@import "tailwindcss";

:root {
  --main-bg: hsl(0 0% 9%);
  --main-fg: hsl(0 0% 90%);

  --primary-bg: hsl(217 91% 60%);
  --primary-fg: hsl(0 0% 100%);

  --secondary-bg: hsl(0 0% 15%);
  --secondary-fg: hsl(0 0% 90%);

  --muted-bg: hsl(0 0% 12%);
  --muted-fg: hsl(0 0% 64%);

  --accent-bg: hsl(224 64% 33%);
  --accent-fg: hsl(213 97% 87%);

  --destructive-bg: hsl(0 84% 60%);
  --destructive-fg: hsl(0 0% 100%);

  --success-bg: hsl(160, 84%, 60%);
  --success-fg: hsl(160 0% 100%);

  --warning-bg: hsl(60, 84%, 60%);
  --warning-fg: hsl(60 0% 100%);

  --border: hsl(0 0% 25%);
  --input: hsl(0 0% 25%);
  --ring: hsl(217 91% 60%);
}

@theme inline {
  --color-main-bg: var(--main-bg);
  --color-main-fg: var(--main-fg);

  --color-primary-bg: var(--primary-bg);
  --color-primary-fg: var(--primary-fg);

  --color-secondary-bg: var(--secondary-bg);
  --color-secondary-fg: var(--secondary-fg);

  --color-muted-bg: var(--muted-bg);
  --color-muted-fg: var(--muted-fg);

  --color-accent-bg: var(--accent-bg);
  --color-accent-fg: var(--accent-fg);

  --color-destructive-bg: var(--destructive-bg);
  --color-destructive-fg: var(--destructive-fg);

  --color-success-bg: var(--success-bg);
  --color-success-fg: var(--success-fg);

  --color-warning-bg: var(--warning-bg);
  --color-warning-fg: var(--warning-fg);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-main-bg text-main-fg;
  }
}
