@import "tailwindcss";
@import "../assets/fonts/Lahzeh.css";
@import "../assets/fonts/Vazir-Code-Hack.css";

:root {
  --main-bg: hsl(0 0% 9%);
  --main-fg: hsl(0 0% 90%);

  --primary-bg: hsl(217 91% 60%);
  --primary-fg: hsl(0 0% 100%);

  --secondary-bg: hsl(0 0% 15%);
  --secondary-fg: hsl(0 0% 90%);

  --muted-bg: hsl(0 0% 12%);
  --muted-fg: hsl(0 0% 64%);

  --accent-bg: hsl(224 64% 33%);
  --accent-fg: hsl(213 97% 87%);

  --destructive-bg: hsl(0 84% 60%);
  --destructive-fg: hsl(0 0% 100%);

  --success-bg: hsl(160, 84%, 60%);
  --success-fg: hsl(160 0% 100%);

  --warning-bg: hsl(60, 84%, 60%);
  --warning-fg: hsl(60 0% 100%);

  --border: hsl(0 0% 25%);
  --input: hsl(0 0% 25%);
  --ring: hsl(217 91% 60%);
}

@theme inline {
  --color-main-bg: var(--main-bg);
  --color-main-fg: var(--main-fg);

  --color-primary-bg: var(--primary-bg);
  --color-primary-fg: var(--primary-fg);

  --color-secondary-bg: var(--secondary-bg);
  --color-secondary-fg: var(--secondary-fg);

  --color-muted-bg: var(--muted-bg);
  --color-muted-fg: var(--muted-fg);

  --color-accent-bg: var(--accent-bg);
  --color-accent-fg: var(--accent-fg);

  --color-destructive-bg: var(--destructive-bg);
  --color-destructive-fg: var(--destructive-fg);

  --color-success-bg: var(--success-bg);
  --color-success-fg: var(--success-fg);

  --color-warning-bg: var(--warning-bg);
  --color-warning-fg: var(--warning-fg);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --font-main: "Lahzeh Variable", "Vazirmatn", sans-serif;
  --font-code: "Vazir Code Hack", "Vazirmatn", sans-serif;

  --breakpoint-xs: 24rem;

  --text-body-xs: 0.5rem;
  --text-body-xs--line-height: 1.5;
  --text-body-sm: 0.75rem;
  --text-body-sm--line-height: 1.5;
  --text-body-base: 1rem;
  --text-body-base--line-height: 1.5;
  --text-h3: 1.25rem;
  --text-h3--line-height: 1.25;
  --text-h2: 1.5rem;
  --text-h2--line-height: 1.25;
  --text-h1: 2rem;
  --text-h1--line-height: 1;
  --text-title: 3rem;
  --text-title--line-height: 1;

  --radius-sm-elements: 0.25rem;
  --radius-md-elements: 0.5rem;
  --radius-lg-elements: 1rem;
  --radius-xl-elements: 1.5rem;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
